# .env.local

APP_ENV=dev

# Domaine principal (sera override selon environnement)
APP_DOMAIN=corbisier.test
NETWORK=http

# Sous-domaines
AUTH_SUBDOMAIN=auth
API_SUBDOMAIN=api

# Hosts
AUTH_HOST=${AUTH_SUBDOMAIN}.${APP_DOMAIN}
API_HOST=${API_SUBDOMAIN}.${APP_DOMAIN}

# URLs
AUTH_URL=${NETWORK}://${AUTH_HOST}
API_URL=${NETWORK}://${API_HOST}

CORS_ALLOW_ORIGIN=^(${AUTH_URL}|${API_URL})$