# .env.local

APP_ENV=dev

# Domaines (sera override selon environnement)

# Sous-domaines
AUTH_SUBDOMAIN=d1-auth
API_SUBDOMAIN=d1-api

# Domaine principal
NETWORK=https
DOMAIN=corbisier
EXT=test

APP_DOMAIN=${DOMAIN}.${EXT}

# Hosts
AUTH_HOST=${AUTH_SUBDOMAIN}.${APP_DOMAIN}
API_HOST=${API_SUBDOMAIN}.${APP_DOMAIN}

# URLs
AUTH_URL=${NETWORK}://${AUTH_HOST}
API_URL=${NETWORK}://${API_HOST}

# REGEX
API_HOST_REGEX=^${API_SUBDOMAIN}\.${DOMAIN}\.${EXT}$
AUTH_HOST_REGEX=^${AUTH_SUBDOMAIN}\.${DOMAIN}\.${EXT}$

CORS_ALLOW_ORIGIN=^(${AUTH_URL}|${API_URL})$