# .env.local
# utiliser /etc/hosts
# 127.0.0.1 auth.corbisier.test
# 127.0.0.1 api.corbisier.test

####> VARIABLES A RENSEIGNER ###

APP_ENV=dev

# Domaine / sous-domaines
AUTH_SUBDOMAIN=auth
API_SUBDOMAIN=api
NETWORK=https
DOMAIN=corbisier
EXT=test

####< VARIABLES A RENSEIGNER ###

####> VARIABLES CONSTRUITES (SYMFONY / SYSTEME) ###

APP_DOMAIN=${DOMAIN}.${EXT}

# Hosts
AUTH_HOST=${AUTH_SUBDOMAIN}.${APP_DOMAIN}
API_HOST=${API_SUBDOMAIN}.${APP_DOMAIN}

# URLs
AUTH_URL=${NETWORK}://${AUTH_HOST}
API_URL=${NETWORK}://${API_HOST}

# REGEX
API_HOST_REGEX=^${API_SUBDOMAIN}\.${DOMAIN}\.${EXT}$
AUTH_HOST_REGEX=^${AUTH_SUBDOMAIN}\.${DOMAIN}\.${EXT}$

CORS_ALLOW_ORIGIN=^(${AUTH_URL}|${API_URL})$

####< VARIABLES CONSTRUITES (SYMFONY / SYSTEME) ###